.snake {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgb(34, 154, 135);
  background: linear-gradient(180deg, rgba(207, 246, 145, 1) 0%, rgb(31, 139, 123) 80%, rgb(52, 159, 221) 100%);

  &__btn {
    background-color: #ce9360;
  }

  &__restart {
    background-color: #4782a6;
  }

  &__control-btn {
    background-color: #116190;
    width: 55px;
    height: 55px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    color: #fff;
  }

  &__score-text {
    margin: 25px 0 0;
    font-family: "Roboto", serif;
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: 900;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
  }
}

.snake-box.active {
  display: flex;
  flex-direction: column;
}

.snake-box {
  position: absolute;

  display: none;
}

.snake__box-right {
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
}

.snake__box-left {
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
}

.snake__control-btn {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}
