.tic-tac-toe {
  background: rgb(86, 180, 211);
  background: linear-gradient(65deg, rgba(193, 87, 70, 1) 15%, rgba(86, 180, 211, 1) 87%);
  height: 100vh;
  padding: 70px 0;

  &__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    font-family: "Roboto", serif;
    font-size: 40px;
    text-align: center;
    color: var(--white-color);
    margin-bottom: 25px;
    font-weight: 900;
    text-shadow: 3px 3px 7px rgba(31, 25, 25, 0.5);
  }

  &__box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__btns-menu {
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  &__btn {
    font-size: 18px;
    margin: 5px 0;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 700;
    background-color: #1c6e89;
  }

  &__btn:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &__restart {
    background-color: #c15746;
  }

  &__game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 25px;
  }

  &__cell {
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.3);
  }
}
