.tic-tac-toe {
  height: 100vh;
  background: rgb(86, 180, 211);
  background: linear-gradient(65deg, rgba(86, 180, 211, 1) 7%, rgb(158, 111, 235) 35%, rgba(193, 87, 70, 1) 90%);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__btn {
    background-color: #1c6d87;
  }

  &__restart {
    background-color: #c15746;
  }

  &__game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 25px;
  }

  &__cell {
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.4);
  }

  &__win-text {
    margin: 0;
    font-family: "Roboto", serif;
    font-size: 40px;
    text-align: center;
    color: #fff;
    font-weight: 900;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
  }
}

.pointer {
  cursor: pointer;
}

.circle {
  width: 100%;
  height: 100%;
  stroke-dasharray: 283;
  stroke-dashoffset: 283;
  animation: draw 1s 1.5s forwards;
}
.cross {
  width: 100%;
  height: 100%;
}
.cross-first {
  stroke-dasharray: 125;
  stroke-dashoffset: 125;
  animation: draw 0.6s forwards;
}
.cross-second {
  stroke-dasharray: 125;
  stroke-dashoffset: 125;
  animation: draw 0.6s 0.6s forwards;
}
@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
