.btn {
  padding: 0;
  position: relative;
  border: none;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
}

.btn::after,
.link::after {
  content: " ";
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.7s ease;
  mix-blend-mode: overlay;
}

.btn:hover::after,
.link:hover::after {
  width: 100%;
}

.btn:disabled {
  opacity: 0.5;
  cursor: default;
}

.btn:disabled:hover::after {
  width: 0;
}

.link {
  position: relative;
  z-index: 20;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
}

.btns-menu {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 45px;
  background-color: rgba(255, 255, 255, 0.4);

  &__box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    flex-wrap: wrap;
  }

  &__btn {
    margin: 5px 7px;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 700;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__home {
    height: 30px;
    width: 40px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 700;
    background-color: #333;
  }

  &__icon {
    display: none;
  }

  &__btn-ruls {
    background-color: #333;
  }
}
