.btns-menu {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 45px;
  background-color: rgba(255, 255, 255, 0.4);
}

.btn {
  position: relative;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  color: var(--white-color);
  text-transform: uppercase;
}

.btn:after {
  content: " ";
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.7s ease;
  mix-blend-mode: overlay;
}

.btn:hover::after {
  width: 100%;
}

.btn:not(:last-child) {
  margin-right: 10px;
}

.btn:disabled {
  opacity: 0.4;
  cursor: default;
}

.btn:disabled:hover::after {
  width: 0;
}

.home {
  margin-right: 10px;
  display: inline-block;
  background-color: #333;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  color: var(--white-color);
  text-transform: uppercase;
}
